.btn-primary {
    font-size: var(--font--size-btn);
    border: none;
    background-color: var(--text-quaternary-color);
    color: #fff;
    text-transform: uppercase;
    height: 40px;
    padding: 10px 40px;
    letter-spacing: var(--font-letter-spacing);
    transition: 
        background-color var(--speed) ease
    ;
}

.btn-secondary {
    all: unset;
    font-size: var(--font--size-btn);
    letter-spacing: var(--font-letter-spacing);
}

.btn-primary:hover {
    background-color: var(--text-secondary-color);
}

.btn-secondary a:hover {
    color: var(--text-primary-color);
    text-decoration: none;
}