.shop-btn {
    cursor: pointer;
    color: var(--text-quaternary-color);

}
.shop-btn > span:hover {
    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: 700;
}

.shop-btn > span:focus {
    font-weight: 700;
    color: var(--text-primary-color);
}
.shop__list { 
    z-index: 2;
    position: absolute;
    top: 340px;
    left: 37%;
    background-color: #fff;
    
    width: 13rem;
    height: 15.5rem;
    margin-top: 15px;
    padding: 30px 0px;
    transition: transform 1s ease-in;
    
}
.shop__list--item {
    width: 90%;
    margin: 0 20px 15px;
}