.facet-wrapper {
    display: flex;
    justify-content: space-between;
}

.facet__fullscreen {
    display: visible;
}

.facet__mobile {
    display: none;
}

.facet-wrapper__mobile { 
    display: none
}

.section_filter, .section_sort-by {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.sort-by__selection {
    border: 2px solid var(--text-tertiary-color);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;   
    padding: 10px; 
    color: var(--text-color);
}
.section_title-tab {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;
}
.filter__detail {
    display: flex;
    gap: 20px;

}


.section__filter--state-fullscreen{
    display: flex;
}

.filter-state--dropdown-tab{
    all: unset;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.filter__dropdown {
    border: 2px solid var(--text-tertiary-color);
    position: absolute;
    /* top: 30px; */
    height: auto;
    background-color: #fff;
}

.filter__available-dropdown {
    width: 300px;
}
.filter__dropdown--select {
    padding: 0 15px 0;
    display: flex;
    justify-content: space-between;
}
.filter--btn-reset {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}
.filter--btn-reset:hover {
    color: var(--text-primary-color);
}
.filter__dropdown--stock{
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.filter__available__dropdown--stock label {
    margin: 10px;
    cursor: pointer;
    
}

.stock-disabled {
    color: var(--text-tertiary-color);
    cursor: none;
}


.filter__price__dropdown--stock {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.price__range {
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.price__range--wrapper {
    border: 2px solid grey;
    width: 150px;
    height: 60px;
    position: relative;
}

.price__range--input {
  padding: 15px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: var(--text-color);
  outline: none;
  border-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  transition: 0.1s ease;
  z-index: 2;
}

.price__range--label {
    display: block;
    color: var(--text-color);
    padding: 15px ;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    text-transform: capitalize;
    transition:  0.2s ease;
} 

.price__range--input:focus,
.price__range--input:valid  {
    transform: translateY(10px);
}

/* Another way to move the label to the top */
/* .price__range--wrapper .price__range--input:valid ~ .price__range--label,
.price__range--wrapper .price__range--input:focus ~ .price__range--label {
    transform: translate(0px, -10px);
    font-size: 0.7rem;
    letter-spacing: 2px;
} */

/* .price__range--input:valid~ .price__range--label,
.price__range--input:focus-within ~ .price__range--label {
    transform: translate(0px, -10px);
    font-size: 0.7rem;
    letter-spacing: 2px;
} */


.price__range--input:valid ~ .price__range--label,
.price__range--wrapper:focus-within .price__range--label {
    transform: translate(0px, -10px);
    font-size: 0.7rem;
    letter-spacing: 2px;
}

@media (max-width: 989px ) {
    .facet__fullscreen {
        display: none;
    }

    /* .section__filter--state-fullscreen {
        display: none;
    } */

    .facet__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn__facet-adjust {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        align-items: center;
        text-transform: capitalize;
        cursor: pointer;
    }

    .section_title-tab {
        margin: 10px 0;
    }

    .modal-fact-mobile {
        background-color: rgba(99, 98, 99, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    .facet__section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 100vh;
    }

    .facet-mobile__header {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px 0 20px;
    }

    .facet-mobile__header--heading h4, 
    .facet-mobile__header--heading p {
        margin: 0;
    }
    .facet-mobile__header--heading h4 {
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .facet-mobile__header--heading p {
        margin-top: 5px;
        font-size: 0.8rem;
        color: var(--text-quaternary-color);
    }
    .facet-mobile__header--heading {
        flex-grow: 3;
    }

    .btn__facet-mobile-close {
        all: unset;
        font-size: 2.5rem;
        width: 50px;
        height: 50px;
    }

    .filter__detail {
        flex-direction: column;
        padding: 20px;
    }
   
    .filter__dropdown {
        border: none;
        background-color: #fff;
        position: static;
    }

    .filter__dropdown--select p {
        margin: 10px 0 0;
    }
    /* Filter state */
    .filter__available-dropdown {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid var(--text-quaternary-color) ;
    }
    .filter__available__dropdown--select {
        display: none;
    }
    
    .filter__dropdown--stock {
        padding-top: 0;
    }
    
    /* Filter price */
    .filter__price-dropdown {
        display: flex;
        flex-direction: column;
    }
    
    .filter__price__dropdown--stock {
        padding: 0;
        border-bottom: 2px solid var(--text-quaternary-color);
        padding-bottom: 15px;
    }

    .price__range--wrapper {
        width: 100px;
    }

    .section_sort-by {
        padding: 20px;
        gap: 0;
    }

 

    .facet-mobile__footer {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .facet-mobile__footer {
        padding: 40px 30px;
        border-top: 2px solid var(--text-tertiary-color);
    }

    .facet-mobile__btn {
        all: unset;
        width: 120px;
        height: 45px;
        text-align: center;
        font-size: var(--font--size-btn);
        cursor: pointer;
    }

    .btn-apply {
        background-color: var(--text-tertiary-color);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .btn-apply:hover {
        background-color: var(--text--color);
    }
    
    .btn-remove {
        color: var(--text-tertiary-color);
        text-decoration: underline;
        text-underline-offset: 2px;
    }
    .btn-remove:hover {
        color: var(--text--color);
    }


    

}











  
  
