*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --text--color: #717171;
    --text-primary-color: #545454;
    --text-secondary-color:  #757575;
    --text-tertiary-color: #c7c7c7;
    --text-quaternary-color: #969696;

    --color-foreground: 113, 113, 113;

    --font--size-title: 1.8rem;
    --font--size-btn: 1.1rem;
    --font-letter-spacing: 2px;
    --speed: 500ms
    
}

body {
    color: var(--text--color);
    margin: 0;

}

ul {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: var(--text-primary-color);
    text-transform: uppercase;
}
button {
    cursor: pointer;
}
a:hover {
    cursor: pointer; 
    text-decoration: underline;
}



/* HEADER */

.header, 
.header_icons, 
.footer, 
.list-social,
.nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hop-dropdown--menu {
    border: 2px solid red;
}
.active {
    font-weight: 700;
    color: var(--text-quaternary-color);
}

.active-footer {
    text-decoration: underline;
}
.active-menu-toggle__shop, .active__dropdown-nav-menu {
    display: block;
    transform: translateY(0);
    transition: 2s ease;
}
.inactive-menu-toggle__shop, .inactive__dropdown-nav-menu {
    display: none;
    transform: translateY(90);
    transition: 2s ease
}



/* RESPONSIVE */

@media (max-width: 989px ) {
    .active__menu-modal {
        visibility: visible;
        background-color: rgba(99, 98, 98, 0.5);
        position: fixed;
        z-index: -3;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
    }
}


@media (min-width: 768px) {
    .social__icon {
        display: none;
    }
    .inactive__menu-modal {
        visibility: hidden;
    }
}

